.identification__form {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    border: none;
    width: 358px;
  }
  