.profile__info {
  margin-left: 28px;
  margin-top: 22px;
  display: grid;
  grid-template-columns: 189px 18px;
  grid-template-rows: auto auto;
  column-gap: 10px;
}

@media screen and (min-width: 1024px) {
  .profile__info {
    grid-template-columns: 294px 24px;
    column-gap: 18px;
    margin-left: 4px;
    margin-top: 0;
  }
}
